################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/C_test/FileContentIndex
/.vs/C_test/v17
/.vs
